body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f2f2f3;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(82, 211, 244, 0.953);
  color: white;
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 20px;
}

button {
  margin-top: 20px;
  font-size: 20px;
}

nav {
  padding-left: 50px !important;
}

.content {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-size: 40px;
}

a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

label {
  font-size: 16px;
}

button.nav-item {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
